body {
  background-color: $silver-100;
  @extend %rubik-400;
  height: 100vh;
}

.wrapper-content {
  min-height: calc(100vh - 315px);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header-top {
  padding: 60px 0;
  z-index: 2;
  transition: background-color 0.3s;
}

.header-top.header-fixed {
  position: fixed;
  padding: 40px 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 104, 56, 0.5);
}

.navigation,
.menu__list,
.user-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  &__logo-img {
    width: 200px;
  }
}

.menu {
  &__link {
    font-size: 18px;
  }

  &__list {
    margin-right: 60px;
  }

  &__item:not(:last-child) {
    margin-right: 45px;
  }
}

.active {
  color: $orange-900;
}

.user-nav {
  &__list {
    margin-right: 10px;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }
  &__btn {
    position: relative;
  }
  &__num {
    width: 11px;
    position: absolute;
    left: 20px;
    font-size: 10px;
    color: $white;
    background-color: #ff6838;
    border-radius: 50%;
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__img {
    max-width: 100%;
    width: 560px;
  }

  &__content {
    margin-right: 40px;
    max-width: 450px;
  }

  &__title {
    @extend %rubik-500;
    font-size: 66px;
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
    color: $dark-blue900;
    margin-bottom: 20px;
  }

  &__subtitle {
    color: $orange-900;
  }

  &__txt {
    font-size: 20px;
    line-height: 1.5;
    color: $dark;
    margin-bottom: 20px;
  }

  &__order {
    display: flex;
  }

  &__btn {
    margin-right: 34px;
  }
}

.btn-active {
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: center;
  color: $white;
  background-color: $orange-900;
  border-radius: 6px;
  padding: 12px 32px;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s, border 0.3s;
}

.btn-active:hover {
  color: $orange-900;
  background-color: $white;
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7),
    0 5px 12px 0 rgba(255, 104, 56, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-active:focus {
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  background-color: rgba(255, 122, 80, 0.1);
  color: $orange-900;
}

.btn-active:active {
  background-color: rgba(255, 122, 80, 0.1);
  box-shadow: none;
}

.btn-more {
  font-size: 20px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: $dark-blue900;
  padding: 8px 0;
  border-radius: 5px;
  transition: color 0.3s, text-decoration 0.3s, box-shadow 0.3s, border 0.3s;
}

.section {
  padding-top: 120px;
}

.section.hero {
  padding-top: 0;
}

.title {
  @extend %rubik-500;
  font-size: 36px;
  line-height: 1.3;
  color: $dark-blue900;
  text-align: center;
}

.popular {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    margin-bottom: 60px;
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
  }

  &__list-category {
    align-items: center;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: $white;
    box-shadow: 0 0 0 1px $silver-200;
  }

  &__list-category:not(:last-child) {
    margin-right: 20px;
  }

  &__item-category {
    display: flex;
    align-items: center;
    padding: 13px 30px;
    border-radius: 5px;
    font-size: 20px;
    line-height: 1.3;
    color: $dark-blue900;
  }

  &__item-picture path {
    fill: $dark-blue900;
  }

  &__item-picture {
    margin-right: 10px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -30px;
    margin-bottom: 30px;
  }

  &__item-content {
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 20px 15px;
    max-width: 209px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 0 1px $silver-200;
    background: $white;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__item-img {
    max-width: 140px;
    width: 100%;
    margin-bottom: 10px;
  }

  &__item-title {
    color: $dark;
    margin-bottom: 10px;
    max-height: 36px;
    height: 100%;
  }

  &__item-price {
    @extend %rubik-500;
    line-height: 1.4;
    color: $dark-blue900;
    margin-bottom: 10px;
  }

  &__item-btn {
    font-size: 14px;
    line-height: 1.3;
    color: $white;
    background-color: $orange-900;
    border-radius: 6px;
    padding: 7px 16px;
  }

  &__btn {
    font-size: 20px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: $dark-blue900;
  }
}

.mixitup-control-active {
  background-color: $orange-900;
  color: $white;
}

.mixitup-control-active > .popular__item-picture path {
  stroke: $white;
  fill: $white;
}

.footer {
  padding-top: 120px;
}

.logo-img {
  margin-bottom: 30px;
}

.footer-top {
  display: flex;
  padding-bottom: 65px;
}
.footer-content:not(:last-child) {
  margin-right: 70px;
}

.footer-content {
  &__menu:not(:last-child) {
    margin-right: 70px;
  }
  &__item {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: $dark;
  }
}

.bottom-menu {
  display: flex;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;

  &__input {
    background-color: $white;
    box-shadow: 0 0 0 2px transparent;
    border: 1px solid $gray;
    border-radius: 5px;
    padding: 13px 15px;
    margin-bottom: 12px;
  }
  &__input::placeholder {
    font-size: 14px;
    line-height: 1.3;
    color: $gray;
    opacity: 0.9;
    transition: color 0.3s;
  }

  &__input:hover::placeholder {
    color: $dark-blue900;
  }

  &__input:focus {
    border: 1px solid rgba(194, 194, 194, 0);
    box-shadow: 0 0 0 2px #ff6838;
    color: $gray;
  }

  &__btn {
    @extend %rubik-500;
    background-color: $orange-900;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 13px 39px;
    color: $white;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: $white;
    transition: color 0.3s, box-shadow 0.3s, background-color 0.3s;
  }

  &__btn-icon {
    margin-right: 15px;
  }

  &__btn:hover {
    color: $orange-900;
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    background-color: $white;
  }

  &__btn:focus {
    background-color: rgb(255, 122, 80);
  }

  &__btn:active {
    background-color: #fff2ed;
    color: $orange-900;
  }
}

.subscribe-form__btn:hover.subscribe-form__btn path,
.subscribe-form__btn:active.subscribe-form__btn path {
  fill: $orange-900;
}

.footer-bottom {
  border-top: 1px solid rgba(194, 194, 194, 0.8);
  &__txt {
    text-align: center;
    padding: 30px 0;
    font-size: 14px;
    line-height: 1;
    color: $dark;
  }
}

.contatcts {
  &__detail {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 5px 0;
  }

  &__data {
    font-size: 16px;
    line-height: 2;
    color: $dark;
    position: relative;
  }
}

.contacts__detail-img {
  margin-right: 10px;
}

.social {
  display: flex;

  &__icon {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: $silver-200;
    padding: 9px 0;
    text-align: center;
    transition: fill 0.3s, background-color 0.3s, bow-shadow 0.3s;
  }

  &__icon:not(:last-child) {
    margin-right: 13px;
  }
}

.social__icon:focus {
  background-color: #fff2ed;
}

.social__icon:focus path {
  fill: $dark;
}
.social__icon:hover {
  background-color: $orange-900;
}
.social__icon:hover path {
  fill: $white;
}
.social__icon:active {
  background-color: #fff2ed;
}

.social__icon:active path {
  fill: #ff7a50;
}

.logo-animation {
  border-radius: 5px;
  opacity: 1;
  box-shadow: 0 0 0 2px transparent;
  transition: border 0.3s, opacity 0.3s;
}

.logo-animation:hover {
  opacity: 0.8;
}

.logo-animation:focus {
  border-color: $orange-900;
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

.logo-animation:active {
  opacity: 0.5;
  border-color: transparent;
  box-shadow: none;
}

.animation:hover {
  color: $orange-900;
}

.btn-more.animation:hover,
.popular__btn.animation:hover {
  color: $orange-900;
  text-decoration: underline transparent;
}

.animation:focus {
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

.btn-more.animation:focus,
.popular__btn.animation:focus {
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  color: $dark;
}

.animation:active {
  text-shadow: 2px 2px 5px 0 rgba(49, 53, 43, 0.5);
  border-color: transparent;
  box-shadow: none;
  color: $dark;
}

.btn-more.animation:active {
  color: $dark;
  text-shadow: 2px 2px 5px 0 rgba(49, 53, 43, 0.5);
  border-color: transparent;
}

.popularbtn-style:hover {
  color: $orange-900;
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  background-color: rgba(255, 122, 80, 0.1);
}

.popularbtn-style:hover .popularimg-style path {
  fill: $orange-900;
}

.popularbtn-style:focus {
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  background: $white;
  color: $dark;
}

.popularbtn-style:focus .popularimg-style path {
  fill: $dark;
}

.popularbtn-style:active {
  box-shadow: inset 0 -5px 12px 0 rgba(255, 104, 56, 0.2);
  background: $white;
  color: $dark;
}

.popularbtn-style:active .popularimg-style path {
  fill: $dark;
}

.features {
  display: flex;
  justify-content: space-between;
  margin: 0 70px;
}

.features-img {
  max-width: 440px;
  width: 100%;
  margin-right: 40px;
}

.features-content {
  margin: 58px 0;
  max-width: 470px;
  width: 100%;

  &__txt {
    font-size: 20px;
    line-height: 1.5;
    color: $dark;
    margin-bottom: 30px;
    opacity: 0.9;
  }
  &__list-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__list-item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__img {
    width: 34px;
    height: 34px;
    margin-right: 30px;
  }
  &__list-txt {
    font-size: 24px;
    line-height: 1.5;
    color: $dark-blue900;
  }
}
.features-content .title {
  text-align: left;
  margin-bottom: 30px;
}

.application {
  display: flex;
  .title {
    margin-bottom: 45px;
    text-align: left;
  }
}
.application-img {
  max-width: 570px;
  width: 100%;
}
.application-content {
  max-width: 540px;
  width: 100%;
  margin: 40px 20px 40px 0;

  &__txt {
    font-size: 20px;
    line-height: 1.5;
    color: $dark;
    opacity: 0.9;
    margin-bottom: 30px;
  }
  &__download {
    display: flex;
  }
  &__download-link:not(:last-child) {
    margin-right: 30px;
  }
}

.restorant {
  .title {
    margin-bottom: 45px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }

  &__item {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: $white;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 24px;
    line-height: 1, 3;
    color: $dark;
  }

  &__img {
    margin-bottom: 15px;
    max-width: 370px;
    width: 100%;
  }

  &__details{
    margin: 0 20px 23px;
    display: flex;
    justify-content: space-between;
  }

  &__work-detail {
    opacity: 0.9;
    display: flex;
    align-items: center;
  }

  &__timer {
    width: 22px;
    height: 22px;
    margin-right: 10px;
  }

  &__hours {
    @extend %rubik-300;
    font-size: 18px;
    line-height: 1.67;
    color: $dark;
  }

&__link {
  width: 79px;
  height: 33px;
  border-color: $orange-900;
}

  &__arrow-right {
    width: 25px;
    height: 25px;
    background-color: #ff7a50;
    stroke: #fff2ed;
  }

}
