@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

@mixin pseudo($content: '', $pos: absolute, $b-repeat: no-repeat, $b-position: center, $b-size: cover) {
  content: $content;
  position: $pos;
  background-repeat: $b-repeat;
  background-position: $b-position;
  background-size: $b-size;
}